@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
body{font-size: 14px; font-family: 'Noto Sans KR', sans-serif;}
img{border: 0;}
#wrap{width: 100%; margin: 0 auto;}

#header_wrap{
    width: 100%; height: 118px;
    background: url(../img/bgHeader.png) repeat-x 0 0;
}
#header{
    width: 940px; height: 118px; 
    margin: 0 auto; position: relative;
}

/* header */

.top{
    position: absolute; left: 0; top: 0;
    display: flex;
}
.util{
    position: absolute; top: 0; right: 100px;
    display: flex;
}
.btnSearch{
    position: absolute; top: 0; right: 0;
}
#header>h1{
    position: absolute; bottom: 10px; left: 0;
}
#header>img{
    position: absolute; bottom: 1px; left: 250px;
}
#gnb{
    position: absolute; bottom: 0; right: 0;
    display: flex; z-index: 2;
}
#gnb>li>a{
    display: block; width: 120px; height: 61px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#gnb>li>a.on, #gnb>li>a:hover{
    background-position: 0 -61px;
}
.gnb1{background-image: url(../img/gnb1.png);}
.gnb2{background-image: url(../img/gnb2.png);}
.gnb3{background-image: url(../img/gnb3.png);}
.gnb4{background-image: url(../img/gnb4.png);}
#gnb>li>div{
    width: 940px; height: 196px;
    background: url(../img/bg_trans.png) repeat 0 0;
    position: absolute; right: 0;
    background: #333;
    display: none;
}
#gnb>li>div>ul{
    width: 440px;
    position: absolute;
    top: 20px; right: 20px;
    border-top: 1px solid #bbb;
    padding-top: 5px;
}
#gnb>li>div>ul>li{
    margin-bottom: 5px;
}
#gnb>li>div>ul>li>a{
    color: #999;
    display: block;
}
#gnb>li>div>ul>li>a:hover{
    color: #fff;
}
.btnMo{
    position: absolute; bottom: 12px; right: -100px;
    opacity: 0;
}
.btnMo img{
    font-size: 3em; color: #333;
}

#visual{
    width: 100%; position: relative;
    overflow: hidden;
    z-index: 1;
}

/* slider */
.slider{
    width: 100%; height: 500px; overflow: hidden;
    position: relative;
}
.panel{
    width: 100%; height: 100%; 
    display: flex;
    top: 0; left: 0;
}
.panel>li{
    width: 100%; height: 500px; position: absolute;
    top: 0; left: 100%;
    
}
.panel>li.on{
    left: 0%;
}
.panel1{background-image: url(../img/visual1.png);}
.panel2{background-image: url(../img/visual2.jpg);}
.panel3{background-image: url(../img/visual3.jpg);}
.panel4{background-image: url(../img/visual4.jpg);}

.panelBack{
    position: relative;
    width: 940px; height: 100%;
    margin: 0 auto;
    bottom: -20px; left: -20px;
    opacity: 0;
}
.panel_tit{
    z-index: 10;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 135px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    /* opacity: 0; */
}
.panel_tag{
    width: 80%;
    z-index: 10;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 95px;
    font-size: 20px;
    color: #fff;
    /* opacity: 0; */
}
.panel_bottom::after{
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40%;
    background-image: linear-gradient(to bottom,transparent,#00000070);
}
.nav1{
    position: absolute; bottom: 20px; left: 50%; margin-left: -220px;
    display: flex;
}
.nav1>li{margin-right: 10px;}
.nav1>li:last-child{margin-right: 0;}
.nav1>li a{
    display: block; width: 100px; height: 10px;
    background: #999;
}
.nav1>li a.on{
    background: #fff;
}

/* container */
#container{
    width: 940px; margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px; overflow: hidden;
}

/* content1 */
.content1{
    width: 940px; height: 560px; margin-bottom: 50px;
}
.content1 h2{
    margin-bottom: 10px;
}
.tab{
    width: 940px; height: 525px; background: #f3f2e5;
    position: relative;
}
.tab>div{
    position: absolute; right: 15px; top: 15px;
}
.tab h3{
    position: absolute; top: 15px; left: 15px;
}
.tab ul{
    position: absolute; top: 120px; left: 15px;
}
.tab ul>li{margin-bottom: 5px;}
.tab ul>li>a{
    display: block; width: 130px; height: 22px; line-height: 22px;
    text-indent: 5px; color: #888;
}
.tab ul>li>a.on{
    background: #5a5955; color: #fff;
    background-image: url(../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: 110px 8px;
}
#box2, #box3, #box4, #box5{
    display: none;
}
.tab>div>img{
    width: 739px; height: 490px;
}

/* content2 */
.content2{
    width: 940px; margin-bottom: 50px;
}

.content2_boxWrap{
    width: 940px; margin-bottom: 20px;
    display: flex;
}
.box1{
    width: 620px;height: 260px; margin-right: 20px;
}
.box2{
    width: 300px; height: 260px;
}
.content2_boxWrap h3{
    margin: 12px 0; color: #333;
}
.content2_boxWrap p{
    text-align: justify; color: #555;
}

/* content3_4 */
.content3_4{
    width: 940px; display: flex;
}

/* content3 */
.content3{
    width: 460px; margin-right: 20px;
    position: relative;
}
.content3 h2, .content4 h2{margin-bottom: 10px;}
.content3_in{width: 100%; display: flex;}
.con3_1{margin-right: 20px;}
.con3_1 img, .con3_2 img{width: 100%;}
.btnMore{position: absolute; top: 30px; right: 0;}

/* content4 */
.content4{
    width: 460px;
    position: relative;
}
.content4 li{margin-bottom: 5px; display: flex;}
.content4 li a{width: 70%; display: inline-block; color: #777;}
.content4 li span{width: 30%; display: inline-block; text-align: right;}

/* footer */
.footerWrap{
    width: 100%; height: 184px;
    background: url(../img/bgFooter.png) repeat-x 0 0;
}
#footer{
    width: 940px; height: 184px; margin: 0 auto;
    position: relative; overflow: hidden;
}
#footer ul{
    position: absolute; top: 0; left: 0; display: flex;
}
.btnFamily{
    position: absolute; top: 0; right: 0;
}
#footer p{
    position: absolute; top: 80px; color: #999; font-size: 12px;
}

/* 반응형 */

/* 태블릿 */
@media screen and (min-width:640px) and (max-width:959px){
    #header{width: 100%; margin-top: -38px;}
    #gnb{display: none;}
    .btnMo{bottom: 20px; right: 20px; opacity: 1;}
    .panel>li{height: 100%; width: 100%; top: 0;}
    .panel_tit{bottom: 165px;}
    .panelBack{width: 100%;}
    .nav1{margin-left: -100px;}
    .nav1>li a{width: 20x; height: 6px;}
    #container{
        width: 100%; margin-top: 20px;
        margin-bottom: 20px;
    }
    .content1{display: none;}
    .content2{width: 100%; margin-bottom: 20px;}
    .content2 h2{margin-left: 2%;}
    .box1{width: 60%; margin-left: 2%; margin-right: 5%;}
    .box2{width: 30%; margin-right: 3%;}
    .content2_boxWrap{width: 100%;}
    .content2_boxWrap img{width: 100%;}

    .content3_4{width: 100%; flex-direction: column;}
    .content3,.content4{width: 96%; margin: 0 2% 20px 2%;}
    .con3_1{width: 48%; margin-right: 4%;}
    .con3_2{width: 48%; margin-right: 0;}
    #footer{width: 100%;}
    #footer ul{left: 10px;}
    .btnFamily{right: 10px;}
    #footer p{left: 10px;}
}

/* 모바일 */
@media screen and (max-width:639px){
    #header{width: 100%; margin-top: -38px;}
    #header>img{display: none;}
    #gnb{display: none;}
    .btnMo{bottom: 20px; right: 20px; opacity: 1;}
    .panel>li{height: 100%; width: 100%; top: 0;}
    .panel1>div>strong{left: 50%;margin-left: -103.5px;}
    .panel_tit{text-align: center;top: 50%;margin-top: -57.5px;font-size: 32px;}
    .panel_tag{text-align: center;left: 50%;margin-left: -165.5px;top: 60%;}
    .panelBack{width: 100%;}
    .nav1{display: none;}
    #container{
        width: 100%; margin-top: 20px;
        margin-bottom: 20px;
    }
    .content1{display: none;}
    .content2{width: 100%; margin-bottom: 20px;}
    .content2 h2{margin-left: 2%;}
    .box1{width: 48%; margin-left: 0; margin-right: 4%;}
    .box1 p{display: none;}
    .box2{width: 48%; margin-right: 0;}
    .content2_boxWrap{width: 96%; margin: 0 2%;}
    .content2_boxWrap img{width: 100%;}

    .content3_4{width: 100%; flex-direction: column;}
    .content3,.content4{width: 96%; margin: 0 2% 20px 2%;}
    .con3_1{width: 48%; margin-right: 4%;}
    .con3_2{width: 48%; margin-right: 0;}
    #footer{width: 100%;}
    #footer>ul>li:nth-child(2),#footer>ul>li:nth-child(3){display: none;}
    #footer ul{left: 10px;}
    .btnFamily{right: 10px;}
    #footer p{left: 10px;}
}